In [1]:
# Dependencies
import os
import csv
import pandas as pd
import requests
import json
import urllib
import numpy as np
import datetime as datetime
from datetime import timedelta
from sqlalchemy import create_engine

In [2]:
# Set path for file
UFO_Sightings = os.path.join('..', 'Data', 'UFO_Sightings_scrubbed.csv')
print(UFO_Sightings)

../Data/UFO_Sightings_scrubbed.csv

In [3]:
# Save path to data set in a variable
UFO_Sightings_datafile = "Data/UFO_Sightings_scrubbed.csv"
print(UFO_Sightings_datafile)

Data/UFO_Sightings_scrubbed.csv

In [4]:
# Use Pandas to read data
ufo_data = pd.read_csv(UFO_Sightings_datafile)

ufo_data['datetime'] = pd.to_datetime(ufo_data['datetime'], errors='coerce')
ufo_data.insert(1, 'year', ufo_data['datetime'].dt.year)
ufo_data['year'] = ufo_data['year'].fillna(0).astype(int)

/Users/ryan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
# Display a statistical overview of the DataFrame
ufo_data.describe()

               year    longitude
count  80332.000000  80332.000000
mean    1986.581773    -86.772885
std      185.737461     39.697205
min        0.000000   -176.658056
25%     2001.000000   -112.073333
50%     2006.000000    -87.903611
75%     2011.000000    -78.755000
max     2014.000000    178.441900

In [6]:
# Collecting a list of all columns within the DataFrame
ufo_data.columns

Index(['datetime', 'year', 'city', 'state', 'country', 'shape',
       'duration (seconds)', 'duration (hours/min)', 'comments', 'date posted',
       'latitude', 'longitude '],
      dtype='object')

In [7]:
# Drop Column, 'duration (hours/min)', 'date posted' to help with Data clean up
ufo_data = ufo_data.drop(['duration (hours/min)', 'date posted'], axis = 1)

In [8]:
# Count to see # of data is incomplete
ufo_data.count()

datetime              79638
year                  80332
city                  80332
state                 74535
country               70662
shape                 78400
duration (seconds)    80332
comments              80317
latitude              80332
longitude             80332
dtype: int64

In [9]:
#To check if there are any missing values in our data frame:
print(ufo_data.isnull().values.any())

True

In [10]:
#Total number of missing values per column
print(ufo_data.isnull().sum())

datetime               694
year                     0
city                     0
state                 5797
country               9670
shape                 1932
duration (seconds)       0
comments                15
latitude                 0
longitude                0
dtype: int64

In [11]:
UFO_Sightings_scrubbed_datafile = ufo_data.dropna()
UFO_Sightings_scrubbed_datafile.head()

,datetime,year,city,state,country,shape,duration (seconds),comments,latitude,longitude
0,1949-10-10 20:30:00,1949,san marcos,tx,us,cylinder,2700,This event took place in early fall around 194...,29.8830556,-97.941111
3,1956-10-10 21:00:00,1956,edna,tx,us,circle,20,My older brother and twin sister were leaving ...,28.9783333,-96.645833
4,1960-10-10 20:00:00,1960,kaneohe,hi,us,light,900,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.4180556,-157.803611
5,1961-10-10 19:00:00,1961,bristol,tn,us,sphere,300,My father is now 89 my brother 52 the girl wit...,36.5950000,-82.188889
7,1965-10-10 23:45:00,1965,norwalk,ct,us,disk,1200,A bright orange color changing to reddish colo...,41.1175000,-73.408333

In [12]:
# Count to see # of data is incomplete
UFO_Sightings_scrubbed_datafile.count()

datetime              66040
year                  66040
city                  66040
state                 66040
country               66040
shape                 66040
duration (seconds)    66040
comments              66040
latitude              66040
longitude             66040
dtype: int64

In [13]:
print(UFO_Sightings_scrubbed_datafile.isnull().sum())

datetime              0
year                  0
city                  0
state                 0
country               0
shape                 0
duration (seconds)    0
comments              0
latitude              0
longitude             0
dtype: int64

In [14]:
# Reset index
UFO_Sightings_scrubbed_datafile = UFO_Sightings_scrubbed_datafile.reset_index(drop=True)
UFO_Sightings_scrubbed_datafile.head()

,datetime,year,city,state,country,shape,duration (seconds),comments,latitude,longitude
0,1949-10-10 20:30:00,1949,san marcos,tx,us,cylinder,2700,This event took place in early fall around 194...,29.8830556,-97.941111
1,1956-10-10 21:00:00,1956,edna,tx,us,circle,20,My older brother and twin sister were leaving ...,28.9783333,-96.645833
2,1960-10-10 20:00:00,1960,kaneohe,hi,us,light,900,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.4180556,-157.803611
3,1961-10-10 19:00:00,1961,bristol,tn,us,sphere,300,My father is now 89 my brother 52 the girl wit...,36.5950000,-82.188889
4,1965-10-10 23:45:00,1965,norwalk,ct,us,disk,1200,A bright orange color changing to reddish colo...,41.1175000,-73.408333

In [15]:
# Reset index
UFO_Sightings_scrubbed_datafile.drop('year', axis=1, inplace=True)

UFO_Sightings_scrubbed_datafile.head()
ufo_scrubbed = UFO_Sightings_scrubbed_datafile.reset_index(drop=True)
ufo_scrubbed.index.name = 'id'
ufo_scrubbed.head()

,datetime,city,state,country,shape,duration (seconds),comments,latitude,longitude
id,,,,,,,,,
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,This event took place in early fall around 194...,29.8830556,-97.941111
1,1956-10-10 21:00:00,edna,tx,us,circle,20,My older brother and twin sister were leaving ...,28.9783333,-96.645833
2,1960-10-10 20:00:00,kaneohe,hi,us,light,900,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.4180556,-157.803611
3,1961-10-10 19:00:00,bristol,tn,us,sphere,300,My father is now 89 my brother 52 the girl wit...,36.5950000,-82.188889
4,1965-10-10 23:45:00,norwalk,ct,us,disk,1200,A bright orange color changing to reddish colo...,41.1175000,-73.408333

In [16]:
ufo_scrubbed.to_csv("ufo_scrubbedfinal.csv", index=False)

In [17]:
engine = create_engine('postgresql://postgres:secret@localhost:5433/UFO_Project_db')

In [18]:
engine.table_names()

<ipython-input-18-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['ufo_sightings']

In [19]:
UFO_Sightings_scrubbed_datafile.to_sql(name='ufo_sightings', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "longitude " of relation "ufo_sightings" does not exist
LINE 1: ... shape, "duration (seconds)", comments, latitude, "longitude...
                                                             ^

[SQL: INSERT INTO ufo_sightings (datetime, city, state, country, shape, "duration (seconds)", comments, latitude, "longitude ") VALUES (%(datetime)s, %(city)s, %(state)s, %(country)s, %(shape)s, %(duration AsecondsZ)s, %(comments)s, %(latitude)s, %(longitude )s)]
[parameters: ({'datetime': datetime.datetime(1949, 10, 10, 20, 30), 'city': 'san marcos', 'state': 'tx', 'country': 'us', 'shape': 'cylinder', 'duration AsecondsZ': '2700', 'comments': 'This event took place in early fall around 1949-50. It occurred after a Boy Scout meeting in the Baptist Church. The Baptist Church sit', 'latitude': '29.8830556', 'longitude ': -97.9411111}, {'datetime': datetime.datetime(1956, 10, 10, 21, 0), 'city': 'edna', 'state': 'tx', 'country': 'us', 'shape': 'circle', 'duration AsecondsZ': '20', 'comments': 'My older brother and twin sister were leaving the only Edna theater at about 9 PM&#44...we had our bikes and I took a different route home', 'latitude': '28.9783333', 'longitude ': -96.6458333}, {'datetime': datetime.datetime(1960, 10, 10, 20, 0), 'city': 'kaneohe', 'state': 'hi', 'country': 'us', 'shape': 'light', 'duration AsecondsZ': '900', 'comments': 'AS a Marine 1st Lt. flying an FJ4B fighter/attack aircraft on a solo night exercise&#44 I was at 50&#44000&#39 in a &quot;clean&quot; aircraft (no ordinan', 'latitude': '21.4180556', 'longitude ': -157.8036111}, {'datetime': datetime.datetime(1961, 10, 10, 19, 0), 'city': 'bristol', 'state': 'tn', 'country': 'us', 'shape': 'sphere', 'duration AsecondsZ': '300', 'comments': 'My father is now 89 my brother 52 the girl with us now 51 myself 49 and the other fellow which worked with my father if he&#39s still livi', 'latitude': '36.5950000', 'longitude ': -82.1888889}, {'datetime': datetime.datetime(1965, 10, 10, 23, 45), 'city': 'norwalk', 'state': 'ct', 'country': 'us', 'shape': 'disk', 'duration AsecondsZ': '1200', 'comments': 'A bright orange color changing to reddish color disk/saucer was observed hovering above power transmission lines.', 'latitude': '41.1175000', 'longitude ': -73.4083333}, {'datetime': datetime.datetime(1966, 10, 10, 20, 0), 'city': 'pell city', 'state': 'al', 'country': 'us', 'shape': 'disk', 'duration AsecondsZ': '180', 'comments': 'Strobe Lighted disk shape object observed close&#44 at low speeds&#44 and low altitude in Oct 1966 in Pell City Alabama', 'latitude': '33.5861111', 'longitude ': -86.2861111}, {'datetime': datetime.datetime(1966, 10, 10, 21, 0), 'city': 'live oak', 'state': 'fl', 'country': 'us', 'shape': 'disk', 'duration AsecondsZ': '120', 'comments': 'Saucer zaps energy from powerline as my pregnant mother receives mental signals not to pass info', 'latitude': '30.2947222', 'longitude ': -82.9841667}, {'datetime': datetime.datetime(1968, 10, 10, 13, 0), 'city': 'hawthorne', 'state': 'ca', 'country': 'us', 'shape': 'circle', 'duration AsecondsZ': '300', 'comments': 'ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY WAS POLISHED METAL OF SOME KIND AROUND THE EDGES .', 'latitude': '33.9163889', 'longitude ': -118.3516667}  ... displaying 10 of 66040 total bound parameter sets ...  {'datetime': datetime.datetime(2013, 9, 9, 22, 20), 'city': 'vienna', 'state': 'va', 'country': 'us', 'shape': 'circle', 'duration AsecondsZ': 5.0, 'comments': 'Saw a five gold lit cicular craft moving fastly from rght to left.', 'latitude': 38.9011111, 'longitude ': -77.2655556}, {'datetime': datetime.datetime(2013, 9, 9, 23, 0), 'city': 'edmond', 'state': 'ok', 'country': 'us', 'shape': 'cigar', 'duration AsecondsZ': 1020.0, 'comments': '2 witnesses 2  miles apart&#44 Red &amp; White Elongated-Cigar Shaped Flashing lights&#44 NW of Oklahoma City', 'latitude': 35.6527778, 'longitude ': -97.4777778})]
(Background on this error at: http://sqlalche.me/e/14/f405)