In [1]:
import pandas as pd
import os
import requests
import json
import urllib

In [2]:
csv_file2 = "scrubbed.csv"
ufo_scrubbed_df = pd.read_csv(csv_file2)
ufo_scrubbed_df.head(20)

/Applications/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333
8,10/10/1966 20:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111
9,10/10/1966 21:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167
10,10/10/1968 13:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667
11,10/10/1968 19:00,brevard,nc,us,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,6/12/2008,35.2333333,-82.734444
12,10/10/1970 16:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,5/11/2000,40.6686111,-73.527500
13,10/10/1970 19:00,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.1536111,-83.761944
14,10/10/1971 21:00,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.8238889,-80.253611
15,10/10/1972 19:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944
16,10/10/1972 22:30,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.5377778,-83.233056
17,10/10/1973 19:00,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.3252778,-72.193611
18,10/10/1973 23:00,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611
19,10/10/1974 19:30,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.3916667,-71.566667

### Dropping columns not needed for analysis

In [3]:
ufo_scrubbed_df = ufo_scrubbed_df.drop(columns=['duration (hours/min)', 'date posted'])
ufo_scrubbed_df.head(20)

,datetime,city,state,country,shape,duration (seconds),comments,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,This event took place in early fall around 194...,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1949 Lackland AFB&#44 TX. Lights racing acros...,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,Green/Orange circular disc over Chester&#44 En...,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,My older brother and twin sister were leaving ...,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,My father is now 89 my brother 52 the girl wit...,36.5950000,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,penarth uk circle 3mins stayed 30ft above m...,51.434722,-3.180000
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,A bright orange color changing to reddish colo...,41.1175000,-73.408333
8,10/10/1966 20:00,pell city,al,us,disk,180,Strobe Lighted disk shape object observed clos...,33.5861111,-86.286111
9,10/10/1966 21:00,live oak,fl,us,disk,120,Saucer zaps energy from powerline as my pregna...,30.2947222,-82.984167
10,10/10/1968 13:00,hawthorne,ca,us,circle,300,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,33.9163889,-118.351667
11,10/10/1968 19:00,brevard,nc,us,fireball,180,silent red /orange mass of energy floated by t...,35.2333333,-82.734444
12,10/10/1970 16:00,bellmore,ny,us,disk,1800,silver disc seen by family and neighbors,40.6686111,-73.527500
13,10/10/1970 19:00,manchester,ky,us,unknown,180,Slow moving&#44 silent craft accelerated at an...,37.1536111,-83.761944
14,10/10/1971 21:00,lexington,nc,us,oval,30,green oval shaped light over my local church&#...,35.8238889,-80.253611
15,10/10/1972 19:00,harlan county,ky,us,circle,1200,On october 10&#44 1972 myself&#44my 5yrs.daugh...,36.8430556,-83.321944
16,10/10/1972 22:30,west bloomfield,mi,us,disk,120,The UFO was so close&#44 my battery in the car...,42.5377778,-83.233056
17,10/10/1973 19:00,niantic,ct,us,disk,1800,Oh&#44 what a night &#33 Two (2) saucer-shape...,41.3252778,-72.193611
18,10/10/1973 23:00,bermuda nas,NaN,NaN,light,20,saw fast moving blip on the radar scope thin w...,32.364167,-64.678611
19,10/10/1974 19:30,hudson,ma,us,other,2700,Not sure of the eact month or year of this sig...,42.3916667,-71.566667

### Perform a count to see how much data is incomplete

In [4]:
ufo_scrubbed_df.count()

datetime              80332
city                  80332
state                 74535
country               70662
shape                 78400
duration (seconds)    80332
comments              80317
latitude              80332
longitude             80332
dtype: int64

### Drop incomplete data points as not required for visualizations

In [5]:
ufo_scrubbed_df = ufo_scrubbed_df.dropna()
ufo_scrubbed_df.head(10)

,datetime,city,state,country,shape,duration (seconds),comments,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,This event took place in early fall around 194...,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,My older brother and twin sister were leaving ...,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,My father is now 89 my brother 52 the girl wit...,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,A bright orange color changing to reddish colo...,41.1175000,-73.408333
8,10/10/1966 20:00,pell city,al,us,disk,180,Strobe Lighted disk shape object observed clos...,33.5861111,-86.286111
9,10/10/1966 21:00,live oak,fl,us,disk,120,Saucer zaps energy from powerline as my pregna...,30.2947222,-82.984167
10,10/10/1968 13:00,hawthorne,ca,us,circle,300,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,33.9163889,-118.351667
11,10/10/1968 19:00,brevard,nc,us,fireball,180,silent red /orange mass of energy floated by t...,35.2333333,-82.734444
12,10/10/1970 16:00,bellmore,ny,us,disk,1800,silver disc seen by family and neighbors,40.6686111,-73.527500

### Perform count to see if drop consolidated the data

In [6]:
ufo_scrubbed_df.count()

datetime              66516
city                  66516
state                 66516
country               66516
shape                 66516
duration (seconds)    66516
comments              66516
latitude              66516
longitude             66516
dtype: int64

### Reset index

In [8]:
ufo_scrubbed_df = ufo_scrubbed_df.reset_index(drop=True)
ufo_scrubbed_df.head(10)

,datetime,city,state,country,shape,duration (seconds),comments,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,This event took place in early fall around 194...,29.8830556,-97.941111
1,10/10/1956 21:00,edna,tx,us,circle,20,My older brother and twin sister were leaving ...,28.9783333,-96.645833
2,10/10/1960 20:00,kaneohe,hi,us,light,900,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.4180556,-157.803611
3,10/10/1961 19:00,bristol,tn,us,sphere,300,My father is now 89 my brother 52 the girl wit...,36.5950000,-82.188889
4,10/10/1965 23:45,norwalk,ct,us,disk,1200,A bright orange color changing to reddish colo...,41.1175000,-73.408333
5,10/10/1966 20:00,pell city,al,us,disk,180,Strobe Lighted disk shape object observed clos...,33.5861111,-86.286111
6,10/10/1966 21:00,live oak,fl,us,disk,120,Saucer zaps energy from powerline as my pregna...,30.2947222,-82.984167
7,10/10/1968 13:00,hawthorne,ca,us,circle,300,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,33.9163889,-118.351667
8,10/10/1968 19:00,brevard,nc,us,fireball,180,silent red /orange mass of energy floated by t...,35.2333333,-82.734444
9,10/10/1970 16:00,bellmore,ny,us,disk,1800,silver disc seen by family and neighbors,40.6686111,-73.527500

In [9]:
ufo_scrubbed_df.to_csv("ufo_quick_scrubbed.csv", index=False)